* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4a6385;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-top: 1px solid #2c7de8;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 87px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 38px;
}

.menu__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f3f54;
}

.top {
  background-color: #2c7de8;
  padding: 165px 0 184px 0;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__info {
  max-width: 555px;
  margin-right: 38px;
  color: #ffffff;
  line-height: 24px;
}

.top__subtitle {
  line-height: 24px;
}

.top__title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.top__descr {
  font-size: 19px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 42px;
}

.top__descr span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.top__list {
  list-style: none;
  margin-bottom: 50px;
}

.top__list-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 3px;
  padding-left: 24px;
  position: relative;
}

.top__list-item::before {
  content: '';
  position: absolute;
  background-image: url(../images/check-box.png);
  width: 13px;
  height: 13px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__btn {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #fff;
  padding: 13px 44px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 18px;
}

.top__images-box {
  position: relative;
}

.top__circle {
  width: 229px;
  height: 229px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: -102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #212121;
}

.top__circle-title {
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  width: 140px;
  margin-bottom: 5px;
}

.top__circle-price {
  font-size: 54px;
  line-height: 40px;
  font-weight: 700;
}

.top__circle-data {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color: #212121;
  text-align: right;
  width: 140px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #2f3f54;
  text-align: center;
}

.title span {
  color: #2575e7;
}

.price {
  padding: 155px 0 180px;
}

.price__descr {
  line-height: 24px;
  color: #4a6385;
  max-width: 585px;
  text-align: center;
  margin: 47px auto 124px;
}

.price__descr span {
  color: #42d6c1;
}

.price__descr-link {
  color: #e74c3c;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-item {
  overflow: hidden;
  max-width: 360px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
          box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  padding: 120px 40px 60px 49px;
  line-height: 24px;
  position: relative;
}

.price-item__number {
  width: 265px;
  height: 465px;
  border-radius: 136px;
  color: #fff;
  background-color: #267AE9;
  margin: 0 auto;
  position: absolute;
  top: -370px;
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.price-item__number span {
  font-size: 16px;
  line-height: 16px;
}

.price-item__images {
  text-align: center;
  margin-bottom: 30px;
}

.price-item__img {
  min-height: 123px;
}

.price-item__title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
  color: #267ae9;
  margin-bottom: 30px;
}

.price-item__text {
  line-height: 24px;
  margin-bottom: 63px;
}

.price-item__list {
  list-style: none;
  margin-bottom: 77px;
}

.price-item__list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #4a6385;
  letter-spacing: 0.04em;
  padding-left: 34px;
  position: relative;
}

.price-item__list-item::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/price-icon.png);
}

.price-item__btn {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: #267AE9;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  padding: 18px 10px;
}

.footer-col__logo {
  width: 283px;
}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #d0e4ff;
  margin-bottom: 30px;
}

.footer-menu {
  width: 166px;
}

.footer {
  background-color: #304054;
  padding: 85px 0 128px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #718db2;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer__list {
  list-style: none;
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__list-link {
  color: #718db2;
  font-size: 13px;
  line-height: 24px;
}

.footer__form {
  width: 263px;
}

.footer__form input, .footer__form textarea {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  height: 40px;
  display: block;
  width: 100%;
  padding: 12px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
}

.footer__form input::-webkit-input-placeholder, .footer__form textarea::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
}

.footer__form input:-ms-input-placeholder, .footer__form textarea:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
}

.footer__form input::-ms-input-placeholder, .footer__form textarea::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
}

.footer__form input::placeholder, .footer__form textarea::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
}

.footer__form textarea {
  resize: none;
  height: 85px;
  margin-bottom: 10px;
}

.footer__form button {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2575e7;
  border: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
}
