@media (max-width: 1257px){
    .reviews-slider {
        & .slick-list{
            margin: 0;
        }
        & .slick-slide{
            margin: 0;
        }
    }   
    .reviews__box{
        box-shadow: none;
    }
}
@media (max-width: 1160px){
    .price__items{
        flex-wrap: wrap;
    }
    .price-item{
        max-width: 49%;
        margin-bottom: 20px;
    }
    .price-item__number{
        left: 0;
        right: 0;
    }
}
@media (max-width: 1105px){
    .reviews{
        padding-top: 60px;
        padding-bottom: 60px;
        &__box{
            max-width: 520px;
            margin: 0 auto;
        }
    }
    .reviews-slider {
        margin-top: 60px;
    }
}
@media (max-width: 1100px){
    .top__info{
        max-width: 425px;
    }
}
@media (max-width: 992px){
    .btn__menu{
        display: block;
    }
    .menu{
        &__list{
            display: none;
            position: absolute;
            top: 87px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            line-height: 24px;
            border-top: 1px solid #000;
            z-index: 5;
        }
        &__item{
            margin: 0;
            border-bottom: 1px solid #000;
        }
        &__link{
            display: block;
            padding: 10px 0;
            background-color: #fff;
        }
    }
}
@media (max-width: 980px){
    .top__info{
        max-width: 325px;
    }
}
@media (max-width: 850px){
    .top{
        padding: 80px 0 90px;
        &__subtitle{
            line-height: 13px;
            margin-bottom: 10px;
        }
        &__title{
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 5px;
        }
        &__descr{
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        &__list{
            margin-bottom: 13px;
            &-item{
                line-height: 20px;
            }
        }
        &__img{
            width: 300px;
        }
        &__circle{
            width: 160px;
            height: 160px;
            right: -33px;
            &-title{
                line-height: 19px;
                width: 95px;
            }
            &-price{
                font-size: 40px;
            }
            &-data{
                width: 95px;
            }
        }
    }
}
@media (max-width: 719px){
    .top{
        &__inner{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 75px;
        }
    }
    .price-item{
        max-width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 580px){
    .reviews__box{
        display: block;
        padding: 0;
    }
    .reviews__images{
        width: 100%;
        min-height: 200px;
    }
    .reviews__content{
        width: 100%;
        min-height: 260px;
        padding: 20px;
    }
    .reviews__text{
        margin-bottom: 27px;
    }
    .reviews-slider .slick-slide{
        padding-bottom: 30px;
    }
}
@media (max-width: 399px){
    .top{
        &__info{
            margin-bottom: 50px;
        }
        &__img{
            width: 277px;
        }
        &__circle{
            top: 0;
            right: 0;
        }
    }
    .title{
        font-size: 28px;
        line-height: 32px;
    }
    .price {
        padding: 50px 0;
        &__descr{
            margin-bottom: 47px;
        }
    }
}






@media (min-width: 992px){
    .menu__list{
        display: flex !important;
    }
}