.reviews {
    padding: 120px 0;
    background-color: #fafafa;
    &__box {
        display: flex;
        min-height: 350px;
        box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
    }
    &__images {
        width: 190px;
        background-color: #267ae9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        border-radius: 50%;
    }
    &__content {
        width: 330px;
        background-color: #fff;
        padding: 50px 40px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #4a6385;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text {
        margin-bottom: 38px;
    }
    &__author span {
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        color: #267ae9;
    }
}

.reviews-slider {
    margin-top: 120px;
    & .slick-list{
        margin: 0 -50px;
    }
    & .slick-slide{
        margin: 0 50px;
        padding-bottom: 70px;
    }
    & .slick-dots {
        line-height: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        & li {
            margin: 0 8px;
        }
        & button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 0;
            border: none;
            background-color: #267ae9;
            cursor: pointer;
            outline: none;
        }
    }
    & .slick-active button {
        border: 2px solid #267ae9;
        background-color: #fff;
    }
}